Repository MisterPeModder/OrdureX, pull requests merged in 2024-07, with the labels that each got.

#27 Add buzzer sound when RFID card is read
  IOT/main/bin.cpp
  IOT/main/config.h.sample
Labels: IOT

#32 fix(relay): add boolean parameter to burning status
  Relay/index.js
  Relay/test/mock_client.js
Labels: enhancement

#34 feat(ar): add correct texture for trash cans
  VA/Assets/Scenes/Main Scene/Mini Trash Can 0.prefab
  VA/Assets/Scenes/Main Scene/Mini Trash Can 1.prefab
  VA/Assets/Scenes/Main Scene/Mini Trash Can 2.prefab
  VA/Assets/Scenes/Main Scene/Trash 0 Albedo.png
  VA/Assets/Scenes/Main Scene/Trash 0 Albedo.png.meta
  VA/Assets/Scenes/Main Scene/Trash 0 Material.mat
  VA/Assets/Scenes/Main Scene/Trash 0 Material.mat.meta
  VA/Assets/Scenes/Main Scene/Trash 1 Albedo.png
  VA/Assets/Scenes/Main Scene/Trash 1 Albedo.png.meta
  VA/Assets/Scenes/Main Scene/Trash 1 Material.mat
  VA/Assets/Scenes/Main Scene/Trash 1 Material.mat.meta
  VA/Assets/Scenes/Main Scene/Trash 2 Albedo.png
  VA/Assets/Scenes/Main Scene/Trash 2 Albedo.png.meta
  VA/Assets/Scenes/Main Scene/Trash 2 Material.mat
  VA/Assets/Scenes/Main Scene/Trash 2 Material.mat.meta
Labels: AR

#35 Fire sensor data not correcly sent to relay
  IOT/main/at.cpp
  IOT/main/bin.cpp
  IOT/main/binary.cpp
  IOT/main/main.ino
Labels: IOT

#38 Add some actions handling requested by the Android
  IOT/main/actuator.cpp
  IOT/main/actuator.h
  IOT/main/at.cpp
  IOT/main/bin.cpp
Labels: IOT
